<header class="container mx-auto flex-col bg-teal-800 p-6 flex items-center justify-between sm:flex-row">
    <h1 class="text-xl font-bold">Welcome to File Uploader</h1>
    <nav>
        <ul class="flex items-center justify-between gap-10">
            <li><a class=" hover:shadow-lg hover:shadow-cyan-400/50 active:bg-blue-700 focus:bg-blue-600 border-b text-lg p-2 hover:bg-blue-400 hover:text-black rounded-lg" href="/">Home</a></li>
            <li><a class=" hover:shadow-lg hover:shadow-cyan-400/50 active:bg-blue-700 focus:bg-blue-600 border-b text-lg p-2 hover:bg-blue-400 hover:text-black rounded-lg" href="">Log In</a></li>
            <li><a class=" hover:shadow-lg hover:shadow-cyan-400/50 active:bg-blue-700 focus:bg-blue-600 border-b text-lg p-2 hover:bg-blue-400 hover:text-black rounded-lg" href="">Log Out</a></li>
        </ul>
    </nav>
</header>

