<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css">
    <title>file name</title>
</head>
<body class="text-zinc-200 bg-gray-600 h-screen">
    <%- include("appHeader", {user: locals.user}) %>
    <main class="bg-gray-900 h-full p-3 flex justify-center">
        <div class="min-w-[40%] min-h-min rounded-lg bg-white">
            <h1>file name</h1>
            <div>file size</div>
            <div>date uploaded</div>
        </div>


    </main>
</body>
</html>