<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css">
    <title>File Uploader</title>
</head>
<body class="text-zinc-200 bg-gray-600 h-screen">
    <%- include("appHeader") %>

    <main class="bg-gray-900 h-full">

    </main>

    
</body>
</html>