<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title>File Uploader</title>
  </head>
  <body class="text-zinc-200 bg-gray-600 h-screen">
    <%- include("appHeader") %>
    <main class="bg-gray-900 h-full p-3 flex justify-end md:pr-0">
      <div
        class="max-w-2xl shadow-lg shadow-gray-400/90 bg-gray-400 max-h-80 text-black rounded-xl p-2 flex flex-col gap-3"
      >
        <h2 class="text-xl font-bold">Welcome to File Uploader</h2>
        <p>
          Effortlessly upload and manage your files with our intuitive and
          user-friendly File Uploader app. Designed to streamline your file
          management experience
        </p>
        <p>Have an account? Sign in! Otherwise Sign Up!</p>
        <div class="flex justify-center gap-9 mt-auto">
          <a
            class="py-3 hover:bg-blue-600 hover:text-white px-4 hover:shadow-lg hover:shadow-cyan-500/60 bg-blue-400 rounded-full"
            href="/sign-in"
            >Sign In</a
          >
          <a
            class="py-3 hover:bg-blue-600 hover:text-white px-4 hover:shadow-lg hover:shadow-cyan-500/60 bg-blue-400 rounded-full"
            href="/sign-up"
            >Sign Up</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
